@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", serif;
}

/* shared style */
.primary-btn {
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

.title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}

.secondary-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.text-center {
  text-align: center;
}

/* shared style end */

/* header area start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 150px 40px 150px;
}

nav button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#hero {
  height: 619px;
  background: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
}

.banner-img {
  margin-top: 16px;
}

.banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin: 24px 0;
}

.banner-button {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
}

.banner-button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
}

/* main are start */

/* why-web-development section start */

#why-web-development-container {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  height: 1323px;
  margin: 74px 150px 90px 150px;
  padding: 80px 97px 80px 97px;
}

.development-container .description {
  margin-top: 24px;
  margin-bottom: 48px;
}

.card {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin: 32px 0;
}

.card-flex {
  display: flex;
  gap: 98px;
  align-items: center;
}
.card-flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 98px;
  align-items: center;
  border-radius: 16px;

  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-content {
  padding: 32px 25px;
}
.card-content .description {
  margin-bottom: 32px;
  margin-top: 16px;
}

/* why-web-development section end */

/* inspiration section start */
#inspiration {
  margin: 0 150px;
}
.inspiration-content-container {
  margin: 0 144px;
  text-align: center;
}

.inspiration-container .description {
  margin-top: 24px;
  margin-bottom: 80px;
}

.inspiration-container-video iframe {
  display: block;
  margin: 0 auto;
  border-radius: 16px;
  margin-bottom: 180px;
}

/* inspiration section end */

/* current-target-section start */
#current-target-container {
  height: 437px;
  margin: 0 150px;
}

.current-target-content-container .description {
  margin-top: 24px;
  margin-bottom: 48px;
  margin-left: 144px;
  margin-right: 144px;
}

.current-target-card-container {
  display: flex;
  gap: 24px;
}

.target-card {
  border-radius: 16px;
  /* margin: 0px 24px; */
  padding: 42px;
}

.target-card p {
  margin-top: 8px;
  margin-bottom: 24px;
}

.target-card a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.html {
  background: rgba(255, 76, 30, 0.05);
}

.target-card-content {
  /* margin: 0 24px; */
}

#contact {
  position: relative;
  border-radius: 16px;
  background: url(../assets/handshake.jpg);
  background-color: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
  /* filter: brightness(0.4); */
  background-blend-mode: darken;
  padding: 64px 48px 64px 48px;
  height: 313px;
  margin-left: 150px;
  margin-right: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

#contact::before {
  border-radius: 16px;
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.contact-us-content {
  padding: 64px 48px 64px 48px;
  margin: 0 157px;
}

.contact-us-content h2,
.contact-us-content p,
.contact-us-content input {
  position: relative;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.contact-us-content input[type="email"] {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;

  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.6);
  padding: 19px 20px 19px 20px;
  width: 500px;
}
.contact-us-content input[type="submit"] {
  padding: 17px 20px 17px 20px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.contact-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* main are end */

footer {
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
